body {
    margin: 0 auto;
    width: 960px;

}
#container {
    margin-top: 20px;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    width: 950px;
}
#header {
    width: 960px;
    

}
h1 {
    background-color: rgb(102, 168, 131);
    width: 20%;
    float: left;
    
}
#links {
    float: right;
}
#background {
    width: auto;
    margin-bottom:5px;
}
footer {
    text-align: center;
    width: 950px;
    border-top: solid;
    background-color: darkgrey;
}