body {
    margin: 0 auto;
    width: 960px;

}
#container {
    margin-top: 20px;
    border-width: 1px;
    border-left: solid;
    border-right: solid;
    width: 950px;
    margin-bottom: -20px;
}
#content {
    margin: 0 auto;
    width: 650px;
}
a {
   text-decoration: none;
   color: grey;
   font-family: Arial, Helvetica, sans-serif

}

h1 {
    background-color: rgb(74, 170, 166);
    width: 30%;
    color: white;
    float: left;
    text-align: center;
    line-height: 74px;
    height: 70px;
    margin-bottom:-19.920px;
    
}
pre {
    float: right;
    padding: 9px;
    line-height: 38px;
    margin-bottom: -20px;
    text-decoration: none;
}
#background {
    position: relative;
    top: -15px;
}
p {
    text-align: center;
    width: 930px;
    padding: 10px;
    background-color: rgb(145, 145, 145);
    color: white;
    margin-top: -4px;
    font-size: x-small;
}