body {
    margin: 0 auto;
    width: 960px;

}
#header {
    padding: 20px;
    background-color: yellow;
    position: top;
    

}
h1 {
    background-color: rgb(102, 168, 131);
    width: 20%;
    padding: 20px;
}
#background {

}
footer {
    padding: 5px;
    text-align: center;
}